*{margin: 0; padding: 0; list-style: none;}
a{}
body{background: #dfdfdf;}
#div1{text-align:center;width: 100%;}
#container{text-align:center;width: 1002px;margin:0 auto;}
/*头*/
#row{height:546px;-background:red;margin: 0 0;text-align:center;}
#row div{display: none;height:546px;}
#row .bannerActive{display: block;}
/*内容*/
#content{height:1215px; width: 1002px; -background:green; text-align: center;}
#content .contect{margin:0 auto;}
#content .contect .details{}
#content .contect .details div{float: left; height:202px; width:318px;}
.con{position: relative;}
#content .contect .details div .contectMin{float: left;position: absolute; bottom:0;}
#content .partner{}
#content .recruitment div{float: left;}
#content .recruitment div li{display: none;}
#content .recruitment div li.activeCom{display: block;}


/*底部*/
#bottom{height:45px; background:#000; width: 100%; line-height: 45px;}
#bottom span{width:528px; height:12px; line-height:12px;color: #ffffff; font-size: 8px;}
#bottom span a{color: #ffffff; font-size: 8px;}









